<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hzw.security.mapper.ClothInfoMapper" >

  <sql id="selectId" >
    id,  cloth_name  clothName,unit, order_name as orderName, mark,
    (select GROUP_CONCAT(color) from cloth_color where cloth_id=id ) colors,
    create_time as createTime,pinyin,tiao_kg tiaoKg
  </sql>
  
  <select id="query" resultType="ClothInfo" parameterType="ClothInfo">
		select
		<include refid="selectId" />
		from cloth_info
		<where> 1=1
		<if test="t.clothName != null and t.clothName != ''">
			and cloth_name like '%${t.clothName}%'
		</if>
		<if test="t.orderName != null and t.orderName != ''">
			and order_name like '%${t.orderName}%'
		</if>
		<if test="t.mark != null and t.mark != ''">
			and mark like '%${t.mark}%'
		</if><if test="t.id != null and t.id != ''">
			and id=#{t.id}
		</if>
		</where>
		order by id desc
	</select>

	<select id="queryPinyin" resultType="ClothInfo" parameterType="map">
		select
		<include refid="selectId" />
		from cloth_info
		<where>
		<if test="t != null and t != ''">
				cloth_name like '%${t}%' or pinyin like '%${t}%'
		</if>
		</where>
		order by id desc
	</select>
	
	<select id="queryColorsById" parameterType="String" resultType="com.github.hzw.security.entity.ClothColor">
		select color from cloth_color where cloth_id=#{clothId}
	</select>

	<select id="queryAll" resultType="ClothInfo">
		select
		<include refid="selectId" />
		from cloth_info
		order by id desc
	</select>


	<insert id="add" parameterType="ClothInfo" useGeneratedKeys="true" keyProperty="id">
		insert into cloth_info (
			pinyin, cloth_name, order_name,mark, create_time,unit,tiao_kg
		)
		values(
			#{pinyin},
			#{clothName},
			#{orderName},
			#{mark},
			#{createTime},
			#{unit},
			#{tiaoKg}
		)
	</insert>
	
	<insert id="addColor" parameterType="com.github.hzw.security.entity.ClothColor">
		insert into cloth_color(cloth_id,color)
		values(#{clothId},#{color})
	</insert>
	
	<delete id="delete" parameterType="String">
		delete from cloth_info where
		id=#{id}
	</delete>
	
	<select id="getById" parameterType="String" resultType="ClothInfo">
		select
		<include refid="selectId" />
		from cloth_info where id=#{id}
	</select>
	
	<update id="update" parameterType="ClothInfo">
		update cloth_info
		<set>
		<if test="clothName != null" >
        	cloth_name=#{clothName},
      	</if>
      	<if test="orderName != null" >
        	order_name=#{orderName},
      	</if>
		<if test="pinyin != null" >
        	pinyin=#{pinyin},
      	</if>
		<if test="mark != null" >
        	mark=#{mark},
      	</if>
		<if test="createTime != null" >
        	create_time=#{createTime},
      	</if><if test="unit != null" >
        	unit=#{unit},
      	</if><if test="tiaoKg != null" >
        	tiao_kg=#{tiaoKg},
      	</if>
		</set>
		where id=#{id}
	</update>
	
	
	<select id="isExist" resultType="ClothInfo" parameterType="String">
		select
		<include refid="selectId" />
		from cloth_info
		where cloth_name = #{clothName}
	</select>
	
	<delete id="deleteColorsByClothId" parameterType="String">
		delete from cloth_color where cloth_id=#{clothId}
	</delete>
  
</mapper>