<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hzw.security.mapper.FactoryInfoMapper" >

  <sql id="selectId" >
    id, name, pinyin, 
    (select name from city c where city_id=c.id) cityName,
    CASE status WHEN 1 THEN '正常' WHEN 2 THEN '停用' ELSE '正常' END statusName,
    mark,isdefault,status,city_id cityId
  </sql>
  
  <select id="query" resultType="FactoryInfo" parameterType="FactoryInfo">
		select
		<include refid="selectId" />
		from factory_info
		<where> 1=1
		<if test="t.name != null and t.name != ''">
			and name like '%${t.name}%'
		</if>
		<if test="t.id != null and t.id != ''">
			and id = ${t.id}
		</if>
		<if test="t.pinyin != null and t.pinyin != ''">
			and pinyin = ${t.pinyin}
		</if>
		<if test="t.mark != null and t.mark != ''">
			and mark like '%${t.mark}%'
		</if><if test="t.cityId!=null and t.cityId!=''">
			and city_id =${t.cityId}
		</if><if test="t.status!=null and t.status!=''">
			and status =${t.status}
		</if><if test="t.isdefault!=null and t.isdefault!=''">
			and isdefault ='${t.isdefault}'
		</if>
		</where>
		order by status,id desc
	</select>

	<select id="queryPinyin" resultType="FactoryInfo" parameterType="map">
		select
		<include refid="selectId" />
		from factory_info
		<where>
		<if test="t != null and t != ''">
			name like '%${t}%' or pinyin like '%${t}%'
		</if>
		</where>
		order by id desc
	</select>
	
	<select id="queryPinyinByBean" resultType="FactoryInfo" parameterType="map">
		select
		<include refid="selectId" />
		from factory_info
		<where> 1=1 
		<if test="t.name != null and t.name != ''">
			and name like '%${t.name}%' or pinyin like '%${t.name}%'
		</if>
		<if test="t.cityId != null and t.cityId != ''">
			and city_Id = #{t.cityId}
		</if><if test="t.status != null and t.status != ''">
			and status = #{t.status}
		</if>
		</where>
		order by id desc
	</select>

	<select id="queryAll" resultType="FactoryInfo" parameterType="FactoryInfo">
		select
		<include refid="selectId" />
		from factory_info
		<where> 1=1
		<if test="isdefault!=null and isdefault!=''">
			and isdefault ='${isdefault}'
		</if>
		</where>
		order by id desc
	</select>


	<insert id="add" parameterType="FactoryInfo" useGeneratedKeys="true" keyProperty="id">
		insert into factory_info (
			name, pinyin, mark,city_id,status,isdefault
		)
		values(
			#{name},
			#{pinyin},
			#{mark},
			#{cityId},
			#{status},#{isdefault}
		)
	</insert>
	
	<delete id="delete" parameterType="String">
		delete from factory_info where
		id=#{id}
	</delete>
	
	<select id="getById" parameterType="String" resultType="FactoryInfo">
		select
		<include refid="selectId" />
		from factory_info where id=#{id}
	</select>
	
	<update id="update" parameterType="FactoryInfo">
		update factory_info
		<set>
		<if test="name != null" >
        	name=#{name},
      	</if>
		<if test="pinyin != null" >
        	pinyin=#{pinyin},
      	</if>
		<if test="mark != null" >
        	mark=#{mark},
      	</if><if test="cityId != null" >
        	city_id=#{cityId},
      	</if><if test="status != null" >
        	status=#{status},
      	</if><if test="isdefault != null" >
        	isdefault=#{isdefault},
      	</if>
		</set>
		where id=#{id}
	</update>
  
  
  <select id="isExist" resultType="FactoryInfo" parameterType="String">
		select
		<include refid="selectId" />
		from factory_info
		where name = #{name}
	</select>
  
</mapper>