<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hzw.security.mapper.FlowerInfoMapper" >
  
  <sql id="selectId1" >
    id, factory_id factoryId, myCompanyCode, clothId, fileColor, technologyId, picture, status, factory_code factoryCode, create_time createTime
  </sql>
  
  <sql id="selectId" >
    id, 
    factory_id factoryId, 
    (select factory.name from factory_info factory where factory.id = flower.factory_id ) as factoryName,
    my_company_code myCompanyCode, 
    factory_code factoryCode,
    cloth_id clothId, 
    (select cloth.cloth_name from cloth_info cloth where cloth.id = flower.cloth_id ) as clothName, 
    file_color fileColor, 
    technology_id technologyId, 
    (select technology.name from technology_info technology where technology.id = flower.technology_id ) as technologyName,
    picture,
    status,
    create_time createTime
  </sql>
  
  <sql id="selectIdExt" >
    flower.id id, 
    flower.factory_id factoryId,
    (select factory.name from factory_info factory where factory.id = flower.factory_id ) as factoryName,
    flower.my_company_code myCompanyCode,
    factory_code factoryCode,
    cloth_id clothId, 
    (select cloth.cloth_name from cloth_info cloth where cloth.id = flower.cloth_id ) as clothName, 
    file_color fileColor, 
    technology_id technologyId, 
    (select technology.name from technology_info technology where technology.id = flower.technology_id ) as technologyName,
    picture, 
    status,
    create_time createTime
  </sql>
  
  <sql id="selectfad" >
    a.id addId, 
    a.flower_id flowerId, 
    a.factory_code factoryCode, 
    <!-- a.factory_color factoryColor,--> 
    <!-- a.my_company_code myCompanyCode, -->
    a.my_company_color myCompanyColor
  </sql>
  
  <select id="queryFind" resultType="FlowerInfo" parameterType="FlowerInfo">
		select
		<include refid="selectIdExt" />
			from flower_info flower
		<where> <!-- flower.id = a.flower_id  -->
		<if test="clothId != null and clothId != ''">
			and flower.cloth_id = #{clothId}
		</if>
		<if test="myCompanyCode != null and myCompanyCode != ''">
			and flower.my_company_code = #{myCompanyCode}
		</if>
		<if test="factoryId != null and factoryId != ''">
			and flower.factory_id = #{factoryId}
		</if>
		<if test="technologyId != null and technologyId != ''">
			and flower.technology_id = #{technologyId}
		</if>
		<if test="fileColor != null and fileColor != ''">
			and flower.file_color = #{fileColor}
		</if>
		<if test="status != null and status != ''">
			and flower.status = #{status}
		</if>
		<if test="factoryCode != null and factoryCode != ''">
			and factory_code like '%${factoryCode}%'
		</if>
		</where>
		order by id desc
	</select>
	
	<select id="queryColor" resultType="FlowerInfo" parameterType="map">
		select
		<include refid="selectIdExt" />
			from flower_info flower
		<where> 
		 	my_company_code like '%${code}%'
		 	or factory_code like '%${code}%'
		</where>
		order by flower.my_company_code desc
	</select>
  
  <select id="queryReport" resultType="FlowerInfo" parameterType="map">
		select
		<include refid="selectIdExt" />
			from flower_info flower
		<where> 
		 	<if test="beginTime != null and beginTime != ''">
				and create_time &gt; #{beginTime}
			</if>
      		<if test="endTime != null and endTime != ''">
				and create_time &lt; #{endTime}
			</if>
		</where>
		order by flower.my_company_code desc
	</select>
  
  <select id="query" resultType="FlowerInfo" parameterType="FlowerInfo">
		select
		<include refid="selectId" />
			from flower_info flower
		<where> 1=1
		<if test="t.clothId != null and t.clothId != ''">
			and cloth_id = #{t.clothId}
		</if>
		<if test="t.myCompanyCode != null and t.myCompanyCode != ''">
			and my_company_code = #{t.myCompanyCode}
		</if>
		<if test="t.factoryId != null and t.factoryId != ''">
			and factory_id = #{t.factoryId}
		</if>
		<if test="t.technologyId != null and t.technologyId != ''">
			and technology_id = #{t.technologyId}
		</if>
		<if test="t.fileColor != null and t.fileColor != ''">
			and file_color = #{t.fileColor}
		</if>
		
		<if test="t.status != null and t.status != ''">
			and status = #{t.status}
		</if>
		
		<if test="factoryCode != null and factoryCode != ''">
			and factory_code like '%${t.factoryCode}%'
		</if>
		
		</where>
		order by id desc
	</select>

	<select id="queryAll" resultType="FlowerInfo" parameterType="FlowerInfo">
		select
		<include refid="selectId" />
		from flower_info flower
		<where> 1=1
		<if test="clothId != null and clothId != ''">
			and flower.cloth_id = #{clothId}
		</if>
		<if test="factoryId != null and factoryId != ''">
			and flower.factory_Id = #{factoryId}
		</if>
		<if test="technologyId != null and technologyId != ''">
			and flower.technology_Id = #{technologyId}
		</if>
		</where>
		order by id desc
	</select>
	
	<select id="queryMycompanyCodeByCloth" parameterType="Integer" resultType="String">
		select DISTINCT my_company_code myCompanyCode 
		from flower_info 
		<where> 1=1
			<if test="_parameter != null and _parameter != ''">
			and cloth_id = #{_parameter}
			</if>
		</where>
	</select>

	<insert id="add" parameterType="FlowerInfo" useGeneratedKeys="true" keyProperty="id">
		insert into flower_info (
			factory_id, my_company_code, cloth_id, file_color, technology_id, picture, status, factory_code, create_time
		)
		values(
			#{factoryId},
			#{myCompanyCode},
			#{clothId},
			#{fileColor},
			#{technologyId},
			#{picture},
			#{status},
			#{factoryCode},
			#{createTime}
		)
	</insert>
	
	<delete id="delete" parameterType="String">
		delete from flower_info where
		id=#{id}
	</delete>
	
	<select id="getById" parameterType="String" resultType="FlowerInfo">
		select
		<include refid="selectIdExt" />
		from flower_info flower where id=#{id}
	</select>
	
	<update id="update" parameterType="FlowerInfo">
		update flower_info
		<set>
	      	<if test="factoryId != null and factoryId != ''">
	        	factory_id=#{factoryId},
	      	</if>
	      	<if test="myCompanyCode != null and myCompanyCode != ''">
	        	my_company_code=#{myCompanyCode},
	      	</if>
	      	<if test="clothId != null and clothId != ''">
	        	cloth_id=#{clothId},
	      	</if>
	      	<if test="fileColor != null and fileColor != ''">
	        	file_color=#{fileColor},
	      	</if>
	      	<if test="technologyId != null and technologyId != ''">
	        	technology_id=#{technologyId},
	      	</if>
	      	<if test="picture != null and picture != ''">
	        	picture=#{picture},
	      	</if>
	      	<if test="status != null and status != ''">
	        	status=#{status},
	      	</if>
	      	<if test="factoryCode != null and factoryCode != ''">
	        	factory_code=#{factoryCode},
	      	</if>
	      	<if test="createTime != null and createTime != ''">
	        	create_time = #{createTime},
	      	</if>
		</set>
		where id=#{id}
	</update>
  
  
  <update id="updateByStatus" parameterType="map">
		update flower_info 
		<set>
			status=#{status}
		</set>
		where id=#{id}
  </update>
  
</mapper>
