<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hzw.security.mapper.OrderSummaryMapper" >
  
  <sql id="Base_Column_List" >
    id, order_code, order_date, cloth_id, factory_id, technology_id, my_company_code, 
    my_company_color, factory_code, factory_color, cloth_num, num, standard, packing_style, 
    print_status, print_num, status, return_status, create_time
  </sql>
  
  <sql id="Blob_Column_List" >
    salesmans, mark
  </sql>
  
   <sql id="selectId1" >
    id, order_code, order_date, cloth_id, factory_id, technology_id, my_company_code, 
    my_company_color, factory_code, factory_color, cloth_num, num, standard, packing_style, 
    print_status, print_num, status, return_status, create_time, salesmans, mark
  </sql>
  
  <sql id="selectId" >
    id, order_code orderCode, order_date orderDate, 
    cloth_id clothId, color,
    (select cloth_name from cloth_info where id=cloth_id) as clothName,
     CAST((select tiao_kg from cloth_info where id=cloth_id)*num  AS CHAR) numKg,
    factory_id factoryId,
    (select name from factory_info where id=factory_id) factoryName,
    technology_id technologyId,
    (select name from technology_info where id=technology_id ) technologyName,
    my_company_code myCompanyCode, 
    my_company_color myCompanyColor,
    factory_code factoryCode,
    factory_color factoryColor,
    cloth_num clothNum,          num,unit,
    order_Ids orderIds,          standard,
    packing_style packingStyle, 
    print_status printStatus,    print_num printNum,
    return_status returnStatus,  status,
    create_time createTime,      mark, CONCAT(salesmans,',',coalesce(balance_saleman_id,'0')) salesmans, 
    zhiguan, kongcha, jiaodai, 
    balance_saleman_id balanceSalemanId, balance,
    balancemark balancemark,
    kuanfu, kuanfufs, kezhong,
    kezhongUnit, kezhongfs,
    notify_id notifyId,
    notify_time notifyTime,
    no
  </sql>
  
  <select id="queryPrint" resultType="OrderSummary" parameterType="map">
  	select
		<include refid="selectId" />
			from order_summary
		<where> 1=1
			<if test="printNum != null and printNum != ''">
				and print_num = 0
			</if>
			<if test="beginTime != null and beginTime != ''">
				and create_time &gt;= #{beginTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and create_time &lt;= #{endTime}
			</if>
			<if test="printStatus != null and printStatus != ''">
				and print_status &lt; 1
			</if>
		</where>
		order by id desc
  </select>
  
  
  <select id="queryReportBySummary" resultType="OrderSummary" parameterType="map">
  	select
		<include refid="selectId" />
			from order_summary
		<where> 1=1
			<if test="printNum != null and printNum != ''">
				and print_num = 0
			</if>
			<if test="beginTime != null and beginTime != ''">
				and order_date &gt;= #{beginTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and order_date &lt;= #{endTime}
			</if>
		</where>
		order by id desc
  </select>
  
    <select id="queryNotify" resultType="OrderSummary" parameterType="map">
  	select
		orde.id, order_code orderCode, order_date orderDate,cloth_id clothId, color,
	    (select cloth_name from cloth_info where id=cloth_id) as clothName,
	     CAST((select tiao_kg from cloth_info where id=cloth_id)*num  AS CHAR) numKg,
	    factory_id factoryId,factory.name  factoryName,technology_id technologyId,
	    (select name from technology_info where id=technology_id ) technologyName,
	    my_company_code myCompanyCode,my_company_color myCompanyColor,
	    factory_code factoryCode,factory_color factoryColor,
	    cloth_num clothNum,num,unit,order_Ids orderIds, standard,
	    packing_style packingStyle,print_status printStatus,print_num printNum,
	    return_status returnStatus,orde.status,
	    create_time createTime,orde.mark, CONCAT(salesmans,',',coalesce(balance_saleman_id,'0')) salesmans, 
	    zhiguan, kongcha, jiaodai, balance_saleman_id balanceSalemanId, balance,
	    balancemark balancemark,kuanfu, kuanfufs, kezhong,
	    kezhongUnit, kezhongfs,notify_id notifyId,notify_time notifyTime,no
		from order_summary orde,factory_info factory
		<where> orde.factory_id=factory.id
			<if test="printStatus != null and printStatus != ''">
				and print_status = #{printStatus}
			</if>
			<if test="beginTime != null and beginTime != ''">
				and notify_time &gt;= #{beginTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and notify_time &lt;= #{endTime}
			</if>
			<if test="clothId != null and clothId != ''">
				and cloth_id = #{clothId}
			</if>
			<if test="cityId != null and cityId != ''">
				and city_id = #{cityId}
			</if>
			<if test="factoryId != null and factoryId != ''">
				and factory_id = #{factoryId}
			</if>
			<if test="technologyId != null and technologyId != ''">
				and technology_id = #{technologyId}
			</if>
			<if test="factoryCode != null and factoryCode != ''">
				and factory_code like '%${factoryCode}%'
			</if>
			<if test="factoryColor != null and factoryColor != ''">
				and factory_color like '%${factoryColor}%'
			</if>
			<if test="notifyId != null and notifyId != ''">
				and notify_id #{notifyId}
			</if>
		</where>
		GROUP BY notify_id order by notify_id DESC
  </select>
  
  
  <select id="queryByNotifyId" resultType="OrderSummary" parameterType="String">
  		select
			<include refid="selectId" />
		from order_summary
		where notify_id = #{notifyId}
		order by notify_id DESC
  </select>
  
  <select id="query" resultType="OrderSummary" parameterType="OrderSummary">
		select
		<include refid="selectId" />
			from order_summary
		<where> 1=1
		<if test="t.startDate != null and t.startDate != ''">
			and order_code &gt;= #{t.startDate}
		</if>
		<if test="t.endDate != null and t.endDate != ''">
			and order_code &lt;= #{t.endDate}
		</if>
		<if test="t.clothId != null and t.clothId != ''">
			and cloth_id = #{t.clothId}
		</if>
		<if test="t.factoryId != null and t.factoryId != ''">
			and factory_id = #{t.factoryId}
		</if>
		<if test="t.technologyId != null and t.technologyId != ''">
			and technology_id = #{t.technologyId}
		</if>
		<if test="t.myCompanyCode != null and t.myCompanyCode != ''">
			and my_company_code = #{t.myCompanyCode}
		</if>
		<if test="t.code !=null and t.code !='' ">
			and (my_company_code like '%${t.code}%' or factory_code like '%${t.code}%'  )
		</if>
		<if test="t.myCompanyColor != null and t.myCompanyColor != ''">
			and my_company_color = #{t.myCompanyColor}
		</if>
		<if test="t.factoryCode != null and t.factoryCode != ''">
			and factory_code = #{t.factoryCode}
		</if>
		<if test="t.factoryColor != null and t.factoryColor != ''">
			and factory_color = #{t.factoryColor}
		</if>
		<if test="t.clothNum != null and t.clothNum != ''">
			and cloth_num = #{t.clothNum}
		</if>
		<if test="t.standard != null and t.standard != ''">
			and standard = #{t.standard}
		</if>
		<if test="t.packingStyle != null and t.packingStyle != ''">
			and	packing_style like '%${t.packingStyle}%'
		</if>
		<if test="t.printStatus != null and t.printStatus != ''">
			and print_status = #{t.printStatus}
		</if>
		<if test="t.printNum != null and t.printNum != ''">
			and print_num = #{t.printNum}
		</if>
		<if test="t.status != null and t.status != ''">
			and status = #{t.status}
		</if>
		<if test="t.returnStatus != null and t.returnStatus != ''">
			and return_status = #{t.returnStatus}
		</if>
		<if test="t.mark != null and t.mark != ''">
			and mark like '%${t.mark}%'
		</if>
		<if test="t.oprator != null and t.oprator != '' and t.oprator == 1">
				and num  &gt;=#{t.num}
		</if>
		<if test="t.oprator != null and t.oprator != '' and t.oprator == 2 ">
				and num &lt;=#{t.num}
		</if>
		<if test="t.delayDates!=null and t.delayDates!=''">
			and datediff(NOW(),order_code) >#{t.delayDates}
		</if>
		</where>
		order by id desc
	</select>
	
	<select id="queryVO" resultType="com.github.hzw.security.VO.OrderSummaryVO" parameterType="OrderSummary">
		select
		<include refid="selectId" />
			from order_summary
		<where> 1=1
		<if test="t.startDate != null and t.startDate != ''">
			and order_code &gt;= #{t.startDate}
		</if>
		<if test="t.endDate != null and t.endDate != ''">
			and order_code &lt;= #{t.endDate}
		</if>
		<if test="t.clothId != null and t.clothId != ''">
			and cloth_id = #{t.clothId}
		</if>
		<if test="t.factoryId != null and t.factoryId != ''">
			and factory_id = #{t.factoryId}
		</if>
		<if test="t.technologyId != null and t.technologyId != ''">
			and technology_id = #{t.technologyId}
		</if>
		<if test="t.myCompanyCode != null and t.myCompanyCode != ''">
			and my_company_code = #{t.myCompanyCode}
		</if>
		<if test="t.code !=null and t.code !='' ">
			and (my_company_code like '%${t.code}%' or factory_code like '%${t.code}%'  )
		</if>
		<if test="t.myCompanyColor != null and t.myCompanyColor != ''">
			and my_company_color = #{t.myCompanyColor}
		</if>
		<if test="t.factoryCode != null and t.factoryCode != ''">
			and factory_code = #{t.factoryCode}
		</if>
		<if test="t.factoryColor != null and t.factoryColor != ''">
			and factory_color = #{t.factoryColor}
		</if>
		<if test="t.clothNum != null and t.clothNum != ''">
			and cloth_num = #{t.clothNum}
		</if>
		<if test="t.standard != null and t.standard != ''">
			and standard = #{t.standard}
		</if>
		<if test="t.packingStyle != null and t.packingStyle != ''">
			and	packing_style like '%${t.packingStyle}%'
		</if>
		<if test="t.printStatus != null and t.printStatus != ''">
			and print_status = #{t.printStatus}
		</if>
		<if test="t.printNum != null and t.printNum != ''">
			and print_num = #{t.printNum}
		</if>
		<if test="t.status != null and t.status != ''">
			and status = #{t.status}
		</if>
		<if test="t.returnStatus != null and t.returnStatus != ''">
			<if test="t.returnStatus==11">
				and (return_status=0 or return_status=1)
			</if><if test="t.returnStatus!=11">
				and return_status = #{t.returnStatus} 
			</if>
		</if>
		<if test="t.mark != null and t.mark != ''">
			and mark like '%${t.mark}%'
		</if><if test="t.returnMark != null and t.returnMark != ''">
			and return_mark like '%${t.returnMark}%'
		</if>
		<if test="t.oprator != null and t.oprator != '' and t.oprator == 1">
				and num  &gt;=#{t.num}
		</if>
		<if test="t.oprator != null and t.oprator != '' and t.oprator == 2 ">
				and num &lt;=#{t.num}
		</if>
		<if test="t.delayDates!=null and t.delayDates!=''">
			and datediff(NOW(),order_code) >#{t.delayDates}
		</if>
		</where>
		order by create_time desc,return_status, id desc
	</select>

	<select id="queryAll" resultType="OrderSummary">
		select
		<include refid="selectId" />
		from order_summary
		order by id desc
	</select>


<insert id="add" parameterType="OrderSummary" useGeneratedKeys="true" keyProperty="id" >
    insert into order_summary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="clothId != null" >
        cloth_id,
      </if>
      <if test="factoryId != null" >
        factory_id,
      </if>
      <if test="technologyId != null" >
        technology_id,
      </if>
      <if test="myCompanyCode != null" >
        my_company_code,
      </if>
      <if test="myCompanyColor != null" >
        my_company_color,
      </if>
      <if test="factoryCode != null" >
        factory_code,
      </if>
      <if test="factoryColor != null" >
        factory_color,
      </if>
      <if test="clothNum != null" >
        cloth_num,
      </if>
      <if test="num != null" >
        num,
      </if><if test="unit != null" >
        unit,
      </if>
      <if test="standard != null" >
        standard,
      </if>
      <if test="packingStyle != null" >
        packing_style,
      </if>
      <if test="printStatus != null" >
        print_status,
      </if>
      <if test="printNum != null" >
        print_num,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="returnStatus != null" >
        return_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="salesmans != null" >
        salesmans,
      </if>
      <if test="mark != null" >
        mark,
      </if><if test="balancemark != null" >
        balancemark,
      </if>
      <if test="zhiguan != null" >
        zhiguan,
      </if>
      <if test="kongcha != null" >
        kongcha,
      </if>
      <if test="jiaodai != null" >
        jiaodai,
      </if><if test="kuanfu != null" >
        kuanfu,
      </if><if test="kuanfufs != null" >
        kuanfufs,
      </if><if test="kezhong != null" >
        kezhong,
      </if><if test="kezhongUnit != null" >
        kezhongUnit,
      </if><if test="kezhongfs != null" >
        kezhongfs,
      </if>
      <if test="notifyId != null" >
        notify_id,
      </if>
      <if test="notifyTime != null" >
        notify_time,
      </if>
      <if test="no != null" >
        no,
      </if><if test="balance != null" >
        balance,
      </if><if test="balanceSalemanId != null" >
        balance_Saleman_Id,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="orderIds != null" >
        order_Ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="clothId != null" >
        #{clothId,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null" >
        #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="technologyId != null" >
        #{technologyId,jdbcType=INTEGER},
      </if>
      <if test="myCompanyCode != null" >
        #{myCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="myCompanyColor != null" >
        #{myCompanyColor,jdbcType=VARCHAR},
      </if>
      <if test="factoryCode != null" >
        #{factoryCode,jdbcType=VARCHAR},
      </if>
      <if test="factoryColor != null" >
        #{factoryColor,jdbcType=VARCHAR},
      </if>
      <if test="clothNum != null" >
        #{clothNum,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if><if test="unit != null" >
        #{unit,jdbcType=INTEGER},
      </if>
      <if test="standard != null" >
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="packingStyle != null" >
        #{packingStyle,jdbcType=VARCHAR},
      </if>
      <if test="printStatus != null" >
        #{printStatus,jdbcType=INTEGER},
      </if>
      <if test="printNum != null" >
        #{printNum,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="returnStatus != null" >
        #{returnStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="salesmans != null" >
        #{salesmans,jdbcType=LONGVARCHAR},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=LONGVARCHAR},
      </if><if test="balancemark != null" >
        #{balancemark,jdbcType=LONGVARCHAR},
      </if>
      <if test="zhiguan != null" >
        #{zhiguan,jdbcType=INTEGER},
      </if>
      <if test="kongcha != null" >
        #{kongcha,jdbcType=INTEGER},
      </if>
      <if test="jiaodai != null" >
        #{jiaodai,jdbcType=INTEGER},
      </if><if test="kuanfu != null" >
        #{kuanfu,jdbcType=INTEGER},
      </if><if test="kuanfufs != null" >
        #{kuanfufs,jdbcType=INTEGER},
      </if><if test="kezhong != null" >
        #{kezhong,jdbcType=INTEGER},
      </if><if test="kezhongUnit != null" >
        #{kezhongUnit,jdbcType=INTEGER},
      </if><if test="kezhongfs != null" >
        #{kezhongfs,jdbcType=INTEGER},
      </if>
      <if test="notifyId != null" >
        #{notifyId,jdbcType=INTEGER},
      </if>
      <if test="notifyTime != null" >
        #{notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="no != null" >
        #{no,jdbcType=VARCHAR},
      </if> <if test="balance != null" >
        #{balance,jdbcType=VARCHAR},
      </if> <if test="balanceSalemanId != null" >
        #{balanceSalemanId,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if><if test="orderIds != null" >
        #{orderIds,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
	<delete id="delete" parameterType="String">
		delete from order_summary where
		id=#{id}
	</delete>
	
	<select id="getById" parameterType="String" resultType="OrderSummary">
		select
		<include refid="selectId" />
		from order_summary where id=#{id}
	</select>
	
	<update id="update" parameterType="OrderSummary">
    update order_summary
    <set >
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="clothId != null" >
        cloth_id = #{clothId,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null" >
        factory_id = #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="technologyId != null" >
        technology_id = #{technologyId,jdbcType=INTEGER},
      </if>
      <if test="myCompanyCode != null" >
        my_company_code = #{myCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="myCompanyColor != null" >
        my_company_color = #{myCompanyColor,jdbcType=VARCHAR},
      </if>
      <if test="factoryCode != null" >
        factory_code = #{factoryCode,jdbcType=VARCHAR},
      </if>
      <if test="factoryColor != null" >
        factory_color = #{factoryColor,jdbcType=VARCHAR},
      </if>
      <if test="clothNum != null" >
        cloth_num = #{clothNum,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if><if test="unit != null" >
        unit = #{unit,jdbcType=INTEGER},
      </if>
      <if test="standard != null" >
        standard = #{standard,jdbcType=VARCHAR},
      </if>
      <if test="packingStyle != null" >
        packing_style = #{packingStyle,jdbcType=VARCHAR},
      </if>
      <if test="printStatus != null" >
        print_status = #{printStatus,jdbcType=INTEGER},
      </if>
      <if test="printNum != null" >
        print_num = #{printNum,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="returnStatus != null" >
        return_status = #{returnStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="salesmans != null" >
        salesmans = #{salesmans,jdbcType=LONGVARCHAR},
      </if>
      <if test="mark != null" >
        mark = #{mark,jdbcType=LONGVARCHAR},
      </if>      
      <if test="balancemark != null" >
        balancemark = #{balancemark,jdbcType=LONGVARCHAR},
      </if>
      <if test="zhiguan != null" >
       	zhiguan =  #{zhiguan,jdbcType=INTEGER},
      </if>
      <if test="kongcha != null" >
       kongcha = #{kongcha,jdbcType=INTEGER},
      </if>
      <if test="jiaodai != null" >
        jiaodai=#{jiaodai,jdbcType=INTEGER},
      </if>
      <if test="kuanfu != null" >
        kuanfu=#{kuanfu,jdbcType=INTEGER},
      </if>
      <if test="kuanfufs != null" >
        kuanfufs=#{kuanfufs,jdbcType=INTEGER},
      </if>
      <if test="kezhong != null" >
        kezhong = #{kezhong,jdbcType=INTEGER},
      </if>
      <if test="kezhongUnit != null" >
        kezhongUnit=#{kezhongUnit,jdbcType=INTEGER},
      </if>
      <if test="kezhongfs != null" >
        kezhongfs = #{kezhongfs,jdbcType=INTEGER},
      </if>
      <if test="notifyId != null" >
        notify_id = #{notifyId,jdbcType=INTEGER},
      </if>
      <if test="notifyTime != null" >
        notify_time = #{notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="no != null" >
        no = #{no,jdbcType=VARCHAR},
      </if> <if test="balance != null" >
        balance = #{balance,jdbcType=INTEGER},
      </if> <if test="balanceSalemanId != null" >
        balance_Saleman_Id = #{balanceSalemanId,jdbcType=INTEGER},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if><if test="returnMark != null" >
        return_mark = #{returnMark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
	
  <update id="updateCancel" parameterType="java.lang.String">
    update order_summary set print_status = -1, notify_id = null, notify_time = null, no = null
    where notify_id = #{notifyId,jdbcType=INTEGER}
   </update>
	
	
  <select id="selectByPrimaryKey" resultType="OrderSummary" parameterType="java.lang.Integer" >
    select 
    <include refid="selectId" />
    from order_summary
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_summary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="OrderSummary" >
    insert into order_summary (id, order_code, order_date, 
      cloth_id, factory_id, technology_id, 
      my_company_code, my_company_color, factory_code, 
      factory_color, cloth_num, num, 
      standard, packing_style, print_status, 
      print_num, status, return_status, 
      create_time, salesmans, mark,balance,balance_Saleman_Id
      )
    values (#{id,jdbcType=INTEGER}, #{orderCode,jdbcType=VARCHAR}, #{orderDate,jdbcType=TIMESTAMP}, 
      #{clothId,jdbcType=INTEGER}, #{factoryId,jdbcType=INTEGER}, #{technologyId,jdbcType=INTEGER}, 
      #{myCompanyCode,jdbcType=VARCHAR}, #{myCompanyColor,jdbcType=VARCHAR}, #{factoryCode,jdbcType=VARCHAR}, 
      #{factoryColor,jdbcType=VARCHAR}, #{clothNum,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, 
      #{standard,jdbcType=VARCHAR}, #{packingStyle,jdbcType=VARCHAR}, #{printStatus,jdbcType=INTEGER}, 
      #{printNum,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{returnStatus,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{salesmans,jdbcType=LONGVARCHAR}, #{mark,jdbcType=LONGVARCHAR},
      #{balance,jdbcType=INTEGER}, #{balanceSalemanId,jdbcType=INTEGER}
      )
  </insert>
  
  	<!-- 查询未回单数 -->
	<select id="queryNoReturnNum" parameterType="OrderSummary" resultType="String">
		select sum(t.num)-coalesce((select sum(coalesce(return_num,0)) from return_goods_process where t.id=summary_id),0) noReturn 
		from order_summary  t
		where cloth_id=#{clothId} and my_company_code=#{myCompanyCode} and my_company_color=#{myCompanyColor}
		and technology_id=#{technologyId}
	</select>
  
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="OrderSummary" >
    update order_summary
    set order_code = #{orderCode,jdbcType=VARCHAR},
      order_date = #{orderDate,jdbcType=TIMESTAMP},
      cloth_id = #{clothId,jdbcType=INTEGER},
      factory_id = #{factoryId,jdbcType=INTEGER},
      technology_id = #{technologyId,jdbcType=INTEGER},
      my_company_code = #{myCompanyCode,jdbcType=VARCHAR},
      my_company_color = #{myCompanyColor,jdbcType=VARCHAR},
      factory_code = #{factoryCode,jdbcType=VARCHAR},
      factory_color = #{factoryColor,jdbcType=VARCHAR},
      cloth_num = #{clothNum,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      standard = #{standard,jdbcType=VARCHAR},
      packing_style = #{packingStyle,jdbcType=VARCHAR},
      print_status = #{printStatus,jdbcType=INTEGER},
      print_num = #{printNum,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      return_status = #{returnStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      salesmans = #{salesmans,jdbcType=LONGVARCHAR},
      mark = #{mark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="OrderSummary" >
    update order_summary
    set order_code = #{orderCode,jdbcType=VARCHAR},
      order_date = #{orderDate,jdbcType=TIMESTAMP},
      cloth_id = #{clothId,jdbcType=INTEGER},
      factory_id = #{factoryId,jdbcType=INTEGER},
      technology_id = #{technologyId,jdbcType=INTEGER},
      my_company_code = #{myCompanyCode,jdbcType=VARCHAR},
      my_company_color = #{myCompanyColor,jdbcType=VARCHAR},
      factory_code = #{factoryCode,jdbcType=VARCHAR},
      factory_color = #{factoryColor,jdbcType=VARCHAR},
      cloth_num = #{clothNum,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      standard = #{standard,jdbcType=VARCHAR},
      packing_style = #{packingStyle,jdbcType=VARCHAR},
      print_status = #{printStatus,jdbcType=INTEGER},
      print_num = #{printNum,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      return_status = #{returnStatus,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryReportByFactory" resultType="com.github.hzw.security.VO.OrderReportFactoryVO" parameterType="map">
  	select
		<include refid="selectId" />
			from order_summary
		<where> 1=1
			<if test="beginTime != null and beginTime != ''">
				and order_date &gt;= #{beginTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and order_date &lt;= #{endTime}
			</if>
			<if test="factoryId != null and factoryId != ''">
				and factory_id = #{factoryId}
			</if>
		</where>
		order by factory_id desc
  </select>
  
  <select id="queryReportByCloth" resultType="com.github.hzw.security.VO.OrderReportClothVO" parameterType="map">
  	select
		<include refid="selectId" />
			from order_summary
		<where> 1=1
			<if test="beginTime != null and beginTime != ''">
				and order_date &gt;= #{beginTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and order_date &lt;= #{endTime}
			</if>
			<if test="clothId != null and clothId != ''">
				and cloth_id = #{clothId}
			</if>
		</where>
		order by cloth_id desc
  </select>
  
  <!-- 根据ID查询工厂编号 -->
  <select id="queryFactoryCodeByFactoryId" resultType="String" parameterType="String">
  	select distinct factory_code factoryCode from order_summary where factory_id=#{factoryId}
  </select>
  
  <!-- 根据ID查询工厂编号 -->
  <select id="queryFactoryColor" resultType="String" parameterType="OrderSummary">
  	select distinct factory_color factoryColor from order_summary 
  	where factory_id=#{factoryId} and factory_code=#{factoryCode}
  </select>
  
  <select id="queryByIds" resultType="OrderSummary">
  		select
  		<include refid="selectId" />
		from order_summary
		where id in
  		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">  
		 #{item} 
		</foreach> 
  </select>
  
</mapper>
