<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hzw.security.mapper.OrderInputMapper" >
  
  <sql id="selectId1" >
    id, cloth_id clothId, my_company_code myCompanyCode, salesman_id salesmanId, status, create_time createTime
  </sql>
  
   <sql id="selectId" >
    oi.id id,
    oi.create_time createTime,
    cu.cloth_name clothName,
    oi.my_company_code myCompanyCode,
    oa.my_company_color myCompanyColor,
    oa.num,
    concat(num,'(',(case oa.unit WHEN 0 then '条' 	WHEN 1 THEN 'KG' WHEN 2 THEN '米' WHEN 3 THEN '码' END),')') unit,
    oa.mark,
    si.name saleManName
  </sql>
  
  <select id="queryVO" resultType="com.github.hzw.security.VO.OrderInputVO" parameterType="com.github.hzw.security.VO.OrderInputVO">
		select
		<include refid="selectId" />
			from order_input_additional oa,order_input oi,cloth_info cu,salesman_info si 
		<where> 
		oa.input_id=oi.id and oi.cloth_id=cu.id and si.id=oi.salesman_id
		<if test="t.clothId != null and t.clothId != ''">
			and cloth_id = #{t.clothId}
		</if>
		<if test="t.myCompanyCode != null and t.myCompanyCode != ''">
			and my_company_code = #{t.myCompanyCode}
		</if>
		<if test="t.salesmanId != null and t.salesmanId != ''">
			and salesman_id = #{t.salesmanId}
		</if>
		<if test="t.status != null and t.status != ''">
			and status = #{t.status}
		</if>
		<if test="t.mark != null and t.mark != ''">
			and oa.mark  like '%${t.mark}%'
		</if>
		</where>
		order by id desc
	</select>

	<select id="queryAll" resultType="OrderInput">
		select
		<include refid="selectId" />
		from order_input
		order by id desc
	</select>


	<insert id="add" parameterType="OrderInput" useGeneratedKeys="true" keyProperty="id">
		insert into order_input (
			cloth_id, my_company_code, salesman_id, status, create_time
		)
		values(
			#{clothId},
			#{myCompanyCode},
			#{salesmanId},
			#{status},
			#{createTime}
		)
	</insert>
	
	<delete id="delete" parameterType="String">
		delete from order_input where
		id=#{id}
	</delete>
	
	<select id="getById" parameterType="String" resultType="OrderInput">
		select
		<include refid="selectId1" />
		from order_input where id=#{id}
	</select>
	
	<update id="update" parameterType="OrderInput">
		update order_input
		<set>
      	<if test="clothId != null and clothId != ''">
        	cloth_id=#{clothId},
      	</if>
      	<if test="myCompanyCode != null and myCompanyCode != ''">
        	my_company_code=#{myCompanyCode},
      	</if>
      	<if test="salesmanId != null and salesmanId != ''">
        	salesman_id=#{salesmanId},
      	</if>
      	<if test="status != null and status != ''">
        	status=#{status},
      	</if>
		</set>
		where id=#{id}
	</update>
	
</mapper>