<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hzw.security.mapper.OrderSummaryMapper" >


<!-- 
  <resultMap id="BaseResultMap" type="com.github.hzw.security.entity.OrderSummary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="order_date" property="orderDate" jdbcType="TIMESTAMP" />
    <result column="cloth_id" property="clothId" jdbcType="INTEGER" />
    <result column="factory_id" property="factoryId" jdbcType="INTEGER" />
    <result column="technology_id" property="technologyId" jdbcType="INTEGER" />
    <result column="my_company_code" property="myCompanyCode" jdbcType="VARCHAR" />
    <result column="my_company_color" property="myCompanyColor" jdbcType="VARCHAR" />
    <result column="factory_code" property="factoryCode" jdbcType="VARCHAR" />
    <result column="factory_color" property="factoryColor" jdbcType="VARCHAR" />
    <result column="cloth_num" property="clothNum" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="standard" property="standard" jdbcType="VARCHAR" />
    <result column="packing_style" property="packingStyle" jdbcType="VARCHAR" />
    <result column="print_status" property="printStatus" jdbcType="INTEGER" />
    <result column="print_num" property="printNum" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="return_status" property="returnStatus" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="salesmans" property="salesmans" jdbcType="LONGVARCHAR" />
    <result column="mark" property="mark" jdbcType="LONGVARCHAR" />
  </resultMap>
  -->
  
  <sql id="Base_Column_List" >
    id, order_code, order_date, cloth_id, factory_id, technology_id, my_company_code, 
    my_company_color, factory_code, factory_color, cloth_num, num, standard, packing_style, 
    print_status, print_num, status, return_status, createTime
  </sql>
  
  <sql id="Blob_Column_List" >
    salesmans, mark
  </sql>
  
   <sql id="selectId1" >
    id, order_code, order_date, cloth_id, factory_id, technology_id, my_company_code, 
    my_company_color, factory_code, factory_color, cloth_num, num, standard, packing_style, 
    print_status, print_num, status, return_status, create_time, salesmans, mark
  </sql>
  
  <sql id="selectId" >
    id, order_code orderCode, order_date orderDate, cloth_id clothId, factory_id factoryId, technology_id technologyId, my_company_code myCompanyCode, 
    my_company_color myCompanyColor, factory_code factoryCode, factory_color factoryColor, cloth_num clothNum, num, standard, packing_style packingStyle, 
    print_status printStatus, print_num printNum, status, return_status returnStatus, create_time createTime, salesmans, mark
  </sql>
  
  <select id="query" resultType="OrderSummary" parameterType="OrderSummary">
		select
		<include refid="selectId" />
			from order_summary
		<where> 1=1
		<if test="t.orderCode != null and t.orderCode != ''">
			and order_code = #{t.orderCode}
		</if>
		<if test="t.clothId != null and t.clothId != ''">
			and cloth_id = #{t.clothId}
		</if>
		<if test="t.factoryId != null and t.factoryId != ''">
			and factory_id = #{t.factoryId}
		</if>
		<if test="t.technologyId != null and t.technologyId != ''">
			and technology_id = #{t.technologyId}
		</if>
		<if test="t.myCompanyCode != null and t.myCompanyCode != ''">
			and my_company_code = #{t.myCompanyCode}
		</if>
		<if test="t.myCompanyColor != null and t.myCompanyColor != ''">
			and my_company_color = #{t.myCompanyColor}
		</if>
		<if test="t.factoryCode != null and t.factoryCode != ''">
			and factory_code = #{t.factoryCode}
		</if>
		<if test="t.factoryColor != null and t.factoryColor != ''">
			and factory_color = #{t.factoryColor}
		</if>
		<if test="t.clothNum != null and t.clothNum != ''">
			and cloth_num = #{t.clothNum}
		</if>
		<if test="t.num != null and t.num != ''">
			and num = #{t.num}
		</if>
		<if test="t.standard != null and t.standard != ''">
			and standard = #{t.standard}
		</if>
		<if test="t.packingStyle != null and t.packingStyle != ''">
			and	packing_style like '%${t.packingStyle}%'
		</if>
		<if test="t.printStatus != null and t.printStatus != ''">
			and print_status = #{t.printStatus}
		</if>
		<if test="t.printNum != null and t.printNum != ''">
			and print_num = #{t.printNum}
		</if>
		<if test="t.status != null and t.status != ''">
			and status = #{t.status}
		</if>
		<if test="t.returnStatus != null and t.returnStatus != ''">
			and return_status = #{t.returnStatus}
		</if>
		<if test="t.mark != null and t.mark != ''">
			and mark like '%${t.mark}%'
		</if>
		</where>
		order by id desc
	</select>

	<select id="queryAll" resultType="OrderSummary">
		select
		<include refid="selectId" />
		from order_summary
		order by id desc
	</select>


<insert id="add" parameterType="OrderSummary" useGeneratedKeys="true" keyProperty="id" >
    insert into order_summary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="clothId != null" >
        cloth_id,
      </if>
      <if test="factoryId != null" >
        factory_id,
      </if>
      <if test="technologyId != null" >
        technology_id,
      </if>
      <if test="myCompanyCode != null" >
        my_company_code,
      </if>
      <if test="myCompanyColor != null" >
        my_company_color,
      </if>
      <if test="factoryCode != null" >
        factory_code,
      </if>
      <if test="factoryColor != null" >
        factory_color,
      </if>
      <if test="clothNum != null" >
        cloth_num,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="standard != null" >
        standard,
      </if>
      <if test="packingStyle != null" >
        packing_style,
      </if>
      <if test="printStatus != null" >
        print_status,
      </if>
      <if test="printNum != null" >
        print_num,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="returnStatus != null" >
        return_status,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="salesmans != null" >
        salesmans,
      </if>
      <if test="mark != null" >
        mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="clothId != null" >
        #{clothId,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null" >
        #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="technologyId != null" >
        #{technologyId,jdbcType=INTEGER},
      </if>
      <if test="myCompanyCode != null" >
        #{myCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="myCompanyColor != null" >
        #{myCompanyColor,jdbcType=VARCHAR},
      </if>
      <if test="factoryCode != null" >
        #{factoryCode,jdbcType=VARCHAR},
      </if>
      <if test="factoryColor != null" >
        #{factoryColor,jdbcType=VARCHAR},
      </if>
      <if test="clothNum != null" >
        #{clothNum,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="standard != null" >
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="packingStyle != null" >
        #{packingStyle,jdbcType=VARCHAR},
      </if>
      <if test="printStatus != null" >
        #{printStatus,jdbcType=INTEGER},
      </if>
      <if test="printNum != null" >
        #{printNum,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="returnStatus != null" >
        #{returnStatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="salesmans != null" >
        #{salesmans,jdbcType=LONGVARCHAR},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
	<delete id="delete" parameterType="String">
		delete from order_summary where
		id=#{id}
	</delete>
	
	<select id="getById" parameterType="String" resultType="OrderSummary">
		select
		<include refid="selectId" />
		from order_summary where id=#{id}
	</select>
	
	<update id="update" parameterType="OrderSummary">
    update order_summary
    <set >
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="clothId != null" >
        cloth_id = #{clothId,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null" >
        factory_id = #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="technologyId != null" >
        technology_id = #{technologyId,jdbcType=INTEGER},
      </if>
      <if test="myCompanyCode != null" >
        my_company_code = #{myCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="myCompanyColor != null" >
        my_company_color = #{myCompanyColor,jdbcType=VARCHAR},
      </if>
      <if test="factoryCode != null" >
        factory_code = #{factoryCode,jdbcType=VARCHAR},
      </if>
      <if test="factoryColor != null" >
        factory_color = #{factoryColor,jdbcType=VARCHAR},
      </if>
      <if test="clothNum != null" >
        cloth_num = #{clothNum,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="standard != null" >
        standard = #{standard,jdbcType=VARCHAR},
      </if>
      <if test="packingStyle != null" >
        packing_style = #{packingStyle,jdbcType=VARCHAR},
      </if>
      <if test="printStatus != null" >
        print_status = #{printStatus,jdbcType=INTEGER},
      </if>
      <if test="printNum != null" >
        print_num = #{printNum,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="returnStatus != null" >
        return_status = #{returnStatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="salesmans != null" >
        salesmans = #{salesmans,jdbcType=LONGVARCHAR},
      </if>
      <if test="mark != null" >
        mark = #{mark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
	
	
	
	
  <select id="selectByPrimaryKey" resultType="OrderSummary" parameterType="java.lang.Integer" >
    select 
    <include refid="selectId" />
    from order_summary
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_summary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="OrderSummary" >
    insert into order_summary (id, order_code, order_date, 
      cloth_id, factory_id, technology_id, 
      my_company_code, my_company_color, factory_code, 
      factory_color, cloth_num, num, 
      standard, packing_style, print_status, 
      print_num, status, return_status, 
      createTime, salesmans, mark
      )
    values (#{id,jdbcType=INTEGER}, #{orderCode,jdbcType=VARCHAR}, #{orderDate,jdbcType=TIMESTAMP}, 
      #{clothId,jdbcType=INTEGER}, #{factoryId,jdbcType=INTEGER}, #{technologyId,jdbcType=INTEGER}, 
      #{myCompanyCode,jdbcType=VARCHAR}, #{myCompanyColor,jdbcType=VARCHAR}, #{factoryCode,jdbcType=VARCHAR}, 
      #{factoryColor,jdbcType=VARCHAR}, #{clothNum,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, 
      #{standard,jdbcType=VARCHAR}, #{packingStyle,jdbcType=VARCHAR}, #{printStatus,jdbcType=INTEGER}, 
      #{printNum,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{returnStatus,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{salesmans,jdbcType=LONGVARCHAR}, #{mark,jdbcType=LONGVARCHAR}
      )
  </insert>
  
  
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="OrderSummary" >
    update order_summary
    set order_code = #{orderCode,jdbcType=VARCHAR},
      order_date = #{orderDate,jdbcType=TIMESTAMP},
      cloth_id = #{clothId,jdbcType=INTEGER},
      factory_id = #{factoryId,jdbcType=INTEGER},
      technology_id = #{technologyId,jdbcType=INTEGER},
      my_company_code = #{myCompanyCode,jdbcType=VARCHAR},
      my_company_color = #{myCompanyColor,jdbcType=VARCHAR},
      factory_code = #{factoryCode,jdbcType=VARCHAR},
      factory_color = #{factoryColor,jdbcType=VARCHAR},
      cloth_num = #{clothNum,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      standard = #{standard,jdbcType=VARCHAR},
      packing_style = #{packingStyle,jdbcType=VARCHAR},
      print_status = #{printStatus,jdbcType=INTEGER},
      print_num = #{printNum,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      return_status = #{returnStatus,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      salesmans = #{salesmans,jdbcType=LONGVARCHAR},
      mark = #{mark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="OrderSummary" >
    update order_summary
    set order_code = #{orderCode,jdbcType=VARCHAR},
      order_date = #{orderDate,jdbcType=TIMESTAMP},
      cloth_id = #{clothId,jdbcType=INTEGER},
      factory_id = #{factoryId,jdbcType=INTEGER},
      technology_id = #{technologyId,jdbcType=INTEGER},
      my_company_code = #{myCompanyCode,jdbcType=VARCHAR},
      my_company_color = #{myCompanyColor,jdbcType=VARCHAR},
      factory_code = #{factoryCode,jdbcType=VARCHAR},
      factory_color = #{factoryColor,jdbcType=VARCHAR},
      cloth_num = #{clothNum,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      standard = #{standard,jdbcType=VARCHAR},
      packing_style = #{packingStyle,jdbcType=VARCHAR},
      print_status = #{printStatus,jdbcType=INTEGER},
      print_num = #{printNum,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      return_status = #{returnStatus,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
</mapper>