<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hzw.security.mapper.OrderInputSummaryMapper" >

  <sql id="selectId1" >
    id, cloth_id, my_company_code, my_company_color, num, order_ids, mark
  </sql>
  
  <sql id="selectId" >
    id, cloth_id clothId, my_company_code myCompanyCode, 
    my_company_color myCompanyColor, num, order_ids orderIds, mark
  </sql>
  
  <sql id="selectIdVO" >
    ois.id,ci.cloth_name clothName,ois.my_company_code myCompanyCode,ois.my_company_color myCompanyColor,ois.num,ois.unit
  </sql>
  
  <select id="query" resultType="OrderInputSummary" parameterType="OrderInputSummary">
		select
		<include refid="selectId" />
			from order_input_summary
		<where> 1=1
		<if test="t.clothId != null and t.clothId != ''">
			and cloth_id = #{t.clothId}
		</if>
		<if test="t.myCompanyCode != null and t.myCompanyCode != ''">
			and my_company_code = #{t.myCompanyCode}
		</if>
		<if test="t.myCompanyColor != null and t.myCompanyColor != ''">
			and my_company_color = #{t.myCompanyColor}
		</if>
		<if test="t.num != null and t.num != ''">
			and num = #{t.num}
		</if>
		<if test="t.mark != null and t.mark != ''">
				mark like '%${t.mark}%'
		</if>
		<if test="t.orderIds != null and t.orderIds != ''">
				order_ids like '%${t.orderIds}%'
		</if>
		</where>
		order by id desc
	</select>
	
	<select id="queryVO" resultType="com.github.hzw.security.VO.OrderInputSummaryVO" parameterType="OrderInputSummary">
		select
		<include refid="selectIdVO" />
	    from order_input_summary ois,cloth_info ci  
		<where> 
		ois.cloth_id=ci.id and ois.order_ids is not null  and ois.order_ids &lt;&gt;''
		</where>
		order by id desc
	</select>

	<select id="queryAll" resultType="OrderInputSummary" parameterType="OrderInputSummary">
		select
		<include refid="selectId" />
		from order_input_summary
		<where> 1=1
		<if test="clothId != null and clothId != ''">
			and cloth_id = #{clothId}
		</if>
		<if test="myCompanyCode != null and myCompanyCode != ''">
			and my_company_code = #{myCompanyCode}
		</if>
		<if test="myCompanyColor != null and myCompanyColor != ''">
			and my_company_color = #{myCompanyColor}
		</if>
		</where>
		order by id desc
	</select>
	
	<select id="queryMyCompanyCodeByClothId" resultType="String" parameterType="String">
		select
		distinct my_company_code myCompanyCode
		from order_input_summary
		where cloth_id = #{clothId}
		order by myCompanyCode 
	</select>
	
	<select id="queryMyCompanyColorByMyCompanyCode" resultType="String" parameterType="String">
		select
		distinct my_company_color myCompanyColor
		from order_input_summary
		where my_company_code = #{myCompanyCode}
		order by myCompanyColor 
	</select>

	<!-- 
	select oa.id,ci.cloth_name clothName,oi.my_company_code myCompanyCode,#{t.id} summId,
			   oa.my_company_color myCompanyColor,oa.num,si.name saleManName,oa.mark,oi.create_time createTime
		from order_input_additional oa,order_input  oi,cloth_info ci,salesman_info si
		where INSTR((select concat(',',t.order_ids,',') 
		from order_input_summary t where t.id=#{t.id}),concat(',',oa.id,','))>0
			and oa.input_id=oi.id and oi.cloth_id=ci.id and oi.salesman_id=si.id
	
	 -->
	<select id="queryOrderInputBySummaryId" parameterType="OrderInputSummary" resultType="com.github.hzw.security.VO.OrderInputSummaryVO">
			
		select 
			oi.id,
			(select cloth_name from cloth_info where id=oi.cloth_id) clothName,
			oi.my_company_code myCompanyCode,
			#{t.id} summId,
			my_company_color myCompanyColor,
			num,unit,mark,
			(select name from salesman_info where id=salesman_id) saleManName,
			create_time createTime
		from order_input oi
		where INSTR((select concat(',',t.order_ids,',') 
		from order_input_summary t where t.id=#{t.id}),concat(',',oi.id,','))>0	
			
			
	</select>

	<insert id="add" parameterType="OrderInputSummary" useGeneratedKeys="true" keyProperty="id">
		insert into order_input_summary (
			cloth_id, my_company_code, my_company_color, num, order_ids, mark,unit
		)
		values(
			#{clothId},
			#{myCompanyCode},
			#{myCompanyColor},
			#{num},
			#{orderIds},
			#{mark},
			#{unit}
		)
	</insert>
	
	<delete id="delete" parameterType="String">
		delete from order_input_summary where
		id=#{id}
	</delete>
	
	<select id="getById" parameterType="String" resultType="OrderInputSummary">
		select
		<include refid="selectId" />
		from order_input_summary where id=#{id}
	</select>
	
	<select id="getByOrderId" parameterType="String" resultType="OrderInputSummary">
		select
		<include refid="selectId" />
		from order_input_summary where order_ids like '%${_parameter}%'
	</select>
	
	<select id="getVOById" parameterType="String" resultType="com.github.hzw.security.VO.OrderInputSummaryVO">
		select 
			oi.my_company_code myCompanyCode,
			oi.cloth_id clothId,
			oi.my_company_color myCompanyColor,
		(select cloth_name from cloth_info where id=oi.cloth_id) clothName
		from order_input_summary oi where id=#{id}
	</select>
	
	<update id="update" parameterType="OrderInputSummary">
		update order_input_summary
		<set>
		order_ids=#{orderIds},
      	<if test="clothId != null and clothId != ''">
        	 cloth_id=#{clothId},
      	</if>
      	<if test="myCompanyCode != null and myCompanyCode != ''">
        	 my_company_code=#{myCompanyCode},
      	</if>
      	<if test="myCompanyColor != null and myCompanyColor != ''">
        	 my_company_color=#{myCompanyColor},
      	</if>
      	<if test="num != null and num != ''">
        	 num=#{num},
      	</if>
        <if test="unit != null and unit != ''">
        	 unit=#{unit},
      	</if>
      	<if test="mark != null and mark != ''">
        	 mark=#{mark},
      	</if>
		</set>
		where id=#{id}
	</update>
	
</mapper>