<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hzw.security.mapper.SalesmanInfoMapper" >

  <sql id="selectId" >
    id, name, mark
  </sql>

  <select id="query" resultType="SalesmanInfo" parameterType="SalesmanInfo">
		select
		<include refid="selectId" />
		from salesman_info
		<where> 
		<if test="t.name != null and t.name != ''">
			and name like '%${t.name}%'
		</if>
		<if test="t.mark != null and t.mark != ''">
			and mark like '%${t.mark}%'
		</if>
		</where>
		order by id desc
	</select>
	
	<select id="getSalmansName" resultType="String">
		select Group_concat(name) from  salesman_info where id in 
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">  
		 #{item} 
		</foreach> 
	</select>

	<select id="queryAll" resultType="SalesmanInfo">
		select
		<include refid="selectId" />
		from salesman_info
		order by id desc
	</select>


	<insert id="add" parameterType="SalesmanInfo" useGeneratedKeys="true" keyProperty="id">
		insert into salesman_info (
			name, mark
		)
		values(
			#{name},
			#{mark}
		)
	</insert>
	
	
	<delete id="delete" parameterType="String">
		delete from salesman_info where
		id=#{id}
	</delete>
	
	<select id="getById" parameterType="String" resultType="SalesmanInfo">
		select
		<include refid="selectId" />
		from salesman_info where id=#{id}
	</select>
	
	<update id="update" parameterType="SalesmanInfo">
		update salesman_info
		<set>
		name=#{name},
		mark=#{mark},
		</set>
		where id=#{id}
	</update>
	
	
	<select id="isExist" resultType="SalesmanInfo" parameterType="String">
		select
		<include refid="selectId" />
		from salesman_info
		where name = #{name}
	</select>
	
	
</mapper>