<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hzw.security.mapper.SupplierMapper" >

  <sql id="selectId" >
    id, name, pinyin, mark
  </sql>
  
  <select id="query" resultType="Supplier" parameterType="Supplier">
		select
		<include refid="selectId" />
		from supplier
		<where> 1=1
		<if test="t.name != null and t.name != ''">
			and name like '%${t.name}%'
		</if>
		<if test="t.id != null and t.id != ''">
			and id = ${t.id}
		</if>
		<if test="t.pinyin != null and t.pinyin != ''">
			and pinyin = ${t.pinyin}
		</if>
		<if test="t.mark != null and t.mark != ''">
			and mark like '%${t.mark}%'
		</if>
		</where>
		order by id desc
	</select>

	<select id="queryPinyin" resultType="Supplier" parameterType="map">
		select
		<include refid="selectId" />
		from supplier
		<where>
		<if test="t != null and t != ''">
			name like '%${t}%' or pinyin like '%${t}%'
		</if>
		</where>
		order by id desc
	</select>

	<select id="queryAll" resultType="FactoryInfo">
		select
		<include refid="selectId" />
		from supplier
		order by id desc
	</select>


	<insert id="add" parameterType="Supplier" useGeneratedKeys="true" keyProperty="id">
		insert into supplier (
			name, pinyin, mark
		)
		values(
			#{name},
			#{pinyin},
			#{mark}
		)
	</insert>
	
	<delete id="delete" parameterType="String">
		delete from supplier where
		id=#{id}
	</delete>
	
	<select id="getById" parameterType="String" resultType="Supplier">
		select
		<include refid="selectId" />
		from supplier where id=#{id}
	</select>
	
	<update id="update" parameterType="Supplier">
		update supplier
		<set>
		<if test="name != null" >
        	name=#{name},
      	</if>
		<if test="pinyin != null" >
        	pinyin=#{pinyin},
      	</if>
		<if test="mark != null" >
        	mark=#{mark},
      	</if>
		</set>
		where id=#{id}
	</update>
  
  
  <select id="isExist" resultType="Supplier" parameterType="String">
		select
		<include refid="selectId" />
		from supplier
		where name = #{name}
	</select>
  
</mapper>