<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hzw.security.mapper.TechnologyInfoMapper" >
 
  <sql id="selectId" >
    id, pinyin, name, mark,status
  </sql>
  
  <select id="query" resultType="TechnologyInfo" parameterType="TechnologyInfo">
		select
		<include refid="selectId" />
		from technology_info
		<where> 1=1
		<if test="t.name != null and t.name != ''">
			and name like '%${t.name}%'
		</if>
		<if test="t.mark != null and t.mark != ''">
			and mark like '%${t.mark}%'
		</if><if test="t.status!=null and t.status!=''">
			and status =#{t.status}
		</if>
		</where>
		order by status,id 
	</select>

	<select id="queryPinyin" resultType="TechnologyInfo" parameterType="map">
		select
		<include refid="selectId" />
		from technology_info
		<where> status=1 
		<if test="t != null and t != ''">
			and name like '%${t}%' or pinyin like '%${t}%'
		</if>
		</where>
		order by id 
	</select>

	<select id="queryAll" resultType="TechnologyInfo">
		select
		<include refid="selectId" />
		from technology_info where status=1 
		order by status, id 
	</select>


	<insert id="add" parameterType="TechnologyInfo" useGeneratedKeys="true" keyProperty="id">
		insert into technology_info (
			pinyin, name, mark,status
		)
		values(
			#{pinyin},
			#{name},
			#{mark},#{status}
		)
	</insert>
	
	<delete id="delete" parameterType="String">
		delete from technology_info where
		id=#{id}
	</delete>
	
	<select id="getById" parameterType="String" resultType="TechnologyInfo">
		select
		<include refid="selectId" />
		from technology_info where id=#{id}
	</select>
	
	<update id="update" parameterType="TechnologyInfo">
		update technology_info
		<set>
		<if test="pinyin != null" >
        	pinyin=#{pinyin},
      	</if>
      	<if test="name != null" >
        	name=#{name},
      	</if>
		<if test="mark != null" >
        	mark=#{mark},
      	</if><if test="status!=null">
      		status=#{status}
      	</if>
		</set>
		where id=#{id}
	</update>
  
  <select id="isExist" resultType="TechnologyInfo" parameterType="String">
		select
		<include refid="selectId" />
		from technology_info
		where name = #{name}
	</select>
	
</mapper>