<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hzw.security.mapper.TechnologyInfoMapper" >
 
  <sql id="selectId" >
    id, code, name, mark
  </sql>
  
  <select id="query" resultType="TechnologyInfo" parameterType="TechnologyInfo">
		select
		<include refid="selectId" />
		from technology_info
		<where>
		<if test="t.name != null and t.name != ''">
			name like '%${t.name}%'
		</if>
		<if test="t.code != null and t.code != ''">
			code = #{t.code}
		</if>
		<if test="t.mark != null and t.mark != ''">
				mark like '%${t.mark}%'
		</if>
		</where>
		order by id desc
	</select>

	<select id="queryAll" resultType="TechnologyInfo">
		select
		<include refid="selectId" />
		from technology_info
		order by id desc
	</select>


	<insert id="add" parameterType="TechnologyInfo" useGeneratedKeys="true" keyProperty="id">
		insert into technology_info (
			code, name, mark
		)
		values(
			#{code},
			#{name},
			#{mark}
		)
	</insert>
	
	<delete id="delete" parameterType="String">
		delete from technology_info where
		id=#{id}
	</delete>
	
	<select id="getById" parameterType="String" resultType="TechnologyInfo">
		select
		<include refid="selectId" />
		from technology_info where id=#{id}
	</select>
	
	<update id="update" parameterType="TechnologyInfo">
		update technology_info
		<set>
		<if test="code != null" >
        	code=#{code},
      	</if>
      	<if test="name != null" >
        	name=#{name},
      	</if>
		<if test="mark != null" >
        	mark=#{mark},
      	</if>
		</set>
		where id=#{id}
	</update>
  
  <select id="isExist" resultType="TechnologyInfo" parameterType="String">
		select
		<include refid="selectId" />
		from technology_info
		where name = #{name}
	</select>
	
</mapper>